{% extends 'base.html.twig' %}

{% block title %}Mon beau lapin{% endblock %}

{% block body %}
<style>
    .example-body { margin: 20px auto; width: 90%; font: 18px/1.5 sans-serif; }
</style>


<div class="example-body">
    <h2>Vous souhaitez tout savoir sur nos amis les lapins, alors bienvenue.</h2>

    <p>Le lapin de compagnie est un animal affectueux qui a trouvé sa place au sein des foyers. Intelligent et sensible, il requiert l’attention et l’affection de ses maîtres.
    Mais adopter un lapin n’est pas une décision à prendre à la légère. Renseignez-vous bien avant de vous lancer pour voir si le lapin de compagnie peut être un animal qui vous correspond et pour bien préparer son arrivée.
    Ce site constitue une mine d’informations tant en vue de son acquisition que pour son entretien au quotidien: éducation, alimentation, santé,...</p>
</div>
{% endblock %}
